<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <title></title>
    <script src="angular.min.js"></script>
    <style>
        th {
            cursor: pointer;
        }
    </style>
</head>
<body>
<h1>Курсы</h1>
<div ng-app="myApp" ng-controller="pcController">
    <p><input type="search" ng-model="userSearch"></p>
    <table border="1">
        <tr>
            <th ng-click="orderByMe('model')">Модель</th>
            <th ng-click="orderByMe('price')">Цена</th>
            <th ng-click="orderByMe('speed')">Частота процессора</th>
            <th ng-click="orderByMe('ram')">Объём RAM</th>
            <th ng-click="orderByMe('hd')">Ёмкость HD</th>
            <th ng-click="orderByMe('cd')">Скорость CD-ROM</th>
        </tr>
        <tr ng-repeat="c in pc | filter:{model:userSearch} |orderBy:myOrderBy  | limitTo:pageSize:currentPage*pageSize">
            <td>{{c.model}}</td>
            <td>{{c.price}}</td>
            <td>{{c.speed}}</td>
            <td>{{c.ram}}</td>
            <td>{{c.hd}}</td>
            <td>{{c.cd}}</td>
        </tr>
    </table>
    <button ng-repeat="i in getNumberAsArray(numberOfPages(pc | filter:{model:userSearch})) track by $index"
            ng-click="setCurrentPage($index)">
        {{$index+1}}
    </button>

</div>
<script>
    angular.module('myApp', []).
    controller('pcController', function ($scope, $http) {
        $http.get('../api/pc').
        then(function (response) {
            $scope.pc =
                angular.fromJson(response.data);

            $scope.pageSize = 10;
            $scope.currentPage = 0;
            $scope.setCurrentPage = function (currentPage) {
                $scope.currentPage = currentPage;
            }
            $scope.numberOfPages = function (cs) {
                return Math.ceil(cs.length / $scope.pageSize);
            }
            $scope.getNumberAsArray = function (num) {
                return new Array(num)
            }

        });

        $scope.myOrderBy = 'model';
        $scope.orderByMe = function (x) {
            $scope.myOrderBy = x
        }
    });
</script>

</body>
</html>